<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
    <html {% for i, ns in base.ns %}xmlns:{{i}}="{{ns}}" 
    {%endfor%}version="XHTML+RDFa 1.0" xml:lang="en">
    <head>
    <title>Page about {{row.value.name}}</title>
    <link href="{{base.baseUrl}}lodspeakr/css/person.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  <body>
    {% for row in r %}
    {% if row.value.name != '' %}
      <h1>{{row.value.firstName}} {{row.value.lastName}}{% if row.value.img != '' %} <img src="{{row.value.img}}" width="100px"/>{%endif%}</h1>
      <p>This is a page about {{row.value.name}}. He has a personal homepage located at <a href='{{row.value.homepage}}'>{{row.value.homepage}}</a>.</p> 
    {%endif%}
    {% endfor %}


    {% for row in r %}
        {% if row.value.k != '' %}<p>He knows <a href='{{row.value.k}}'>{{row.value.k}}</a></p>{%endif%}
    {% endfor %}
  </body>
</html>


