<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>My visualization</title>
  <style>body{padding:0px;margin:0px;}</style>
 </head>
 <body>
  {{models.main|GoogleVizTable:"s,p,o"}}
 </body>
</html>
