<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
    <html {% for i, ns in base.ns %}xmlns:{{i}}="{{ns}}" 
    {%endfor%}version="XHTML+RDFa 1.0" xml:lang="en">
    <head>
    <title>Page about {{row.name.value}}</title>
    <link href="{{base.baseUrl}}lodspeakr/css/person.css" rel="stylesheet" type="text/css" media="screen" />
  </head>
  <body>
    {% for row in r %}
    {% if row.name.value != '' %}
      <h1>{{row.firstName.value}} {{row.lastName.value}}{% if row.img.value != '' %} <img src="{{row.value.img}}" width="100px"/>{%endif%}</h1>
      <p>This is a page about {{row.name.value}}. He has a personal homepage located at <a href='{{row.homepage.value}}'>{{row.homepage.value}}</a>.</p> 
    {%endif%}
    {% endfor %}


    {% for row in r %}
        {% if row.k.value != '' %}<p>He knows <a href='{{row.k.value}}'>{{row.k.value}}</a></p>{%endif%}
    {% endfor %}
  </body>
</html>


