<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>My visualization</title>
 </head>
 <body>
 <!--
  The width=1000, color=steelblue and dateFormat='%Y' are optional
 -->
{{models.main|Timeknot:"releaseDate,label,color=steelblue,width=1000,dateFormat='%Y'"}} </body>
</html>

