<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LODSPeaKr Basic Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{lodspk.home}}css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="alternate" type="application/rdf+xml" title="RDF/XML Version" href="{{lodspk.local.value}}.rdf" />
    <link rel="alternate" type="text/turtle" title="Turtle Version" href="{{lodspk.local.value}}.ttl" />
    <link rel="alternate" type="text/plain" title="N-Triples Version" href="{{lodspk.local.value}}.nt" />
    <link rel="alternate" type="application/json" title="RDFJSON Version" href="{{lodspk.local.value}}.json" />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .wait{
        background-image:url('{{lodspk.home}}img/wait.gif');
        background-repeat:no-repeat;
        padding-right:20px;
        background-position: right;
      }
    </style>
    <link href="{{lodspk.home}}css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="{{lodspk.home}}js/jquery.js"></script>
    <script type="text/javascript" src="{{lodspk.home}}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{lodspk.home}}js/bootstrap-typeahead.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.typeahead').typeahead({
            source: function (typeahead, query) {
              $('.typeahead').addClass('wait');[]
              return $.get('{{lodspk.home}}search/'+encodeURIComponent(query), { }, function (data) {
                  $('.typeahead').removeClass('wait');[]
                  return typeahead.process(data);
              }, 'json');
            },
            onselect: function (obj) {
              $('.typeahead').attr('disabled', true);
              window.location = obj.uri;
            }
        });
    });
    </script>
  </head>
  <body>
 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{lodspk.home}}">LODSPeaKr</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="{{lodspk.home}}">Home</a></li>
              <li><a href="{{lodspk.home}}classes">Classes</a></li>
              <li><a href="{{lodspk.home}}namedGraphs">Named Graphs</a></li>
            </ul>
            <form class="navbar-search pull-left" action="">
              <input type="text" data-provide="typeahead" class="typeahead search-query span2" placeholder="Search"/>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    <h1>Default view</h1>

    <table class="table table-striped" about="{{uri}}">
    <thead>
      <tr><th>Subject</th><th>Predicate</th><th>Object</th></tr>
    </thead>
    {% for row in models.po %}
     <tr>
<td>{%if forloop.first%}<a href='{{lodspk.this.value}}'>{{lodspk.this.curie}}</a>{%endif%}</td>
     <td><a href='{{row.p.value}}'>{{row.p.curie}}</a></td>
     
        <td>
        {%if row.o.uri == 1%}
        <a rel='{{row.p.value}}' href='{{row.o.value}}'>{{row.o.curie}}</a>
        {%elif row.o.blank == 1%}
        <a rel='{{row.p.value}}' href='{{row.o.value}}'>{{row.o.curie}}</a>
        {%else%}
        <span property='{{row.p.value}}'>{{row.o.value}}</span>
        {%endif%}
        </td>

        </tr>
    {% endfor %}

    {% for row in models.sp %}
      <tr>
        <td><a href='{{row.s.value}}'>{{row.s.curie}}</a></td>

        <td><a rev='{{row.s.value}}' href='{{row.p.value}}'>{{row.p.curie}}</a></td>
<td>{%if forloop.first%}<a href='{{lodspk.this.value}}'>{{lodspk.this.curie}}</a>{%endif%}</td>
        </tr>
    {% endfor %}
    <thead>
      <tr><th>Subject</th><th>Predicate</th><th>Object</th></tr>
    </thead>

    </table>
    </div>    
    
  </body>
</html>
